[Unit]
Description=clippard
After=default.target

[Service]
User=root
Group=root
Type=forking
PIDFile=/var/lib/clippard/clippard.pid
Restart=always
ExecStart=/bin/bash -c "/var/lib/clippard/clippard"
