[Unit]
Description=clippard
After=network.target

[Service]
User=foxx
Group=foxx
Type=simple
Restart=always
ExecStart=/bin/bash -c "/var/lib/clippard/clippard"