[Unit]
Description=clippard
After=network.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=/bin/bash -c "/var/lib/clippard/clippard"
